
<div class="col-xs-12">
<h1>Articles List</h1>

<%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
<%= form_tag(search_articles_path, :method => "get", id: "search-form", class: "form-inline" , remote: true) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search article", :class => "form-control"  %>
  <%#= submit_tag :Submit, class: 'btn btn-success'%>
<% end %>
 <div id="list">
<%= render :partial=>"index_list", :locals=>{articles:@articles}%>
</div>
</div>


<script>
$("#search").keyup(function() {
  $("#search-form").submit();
});

</script>
