<!DOCTYPE html>
<html>
  <head>
    <title>Tamil</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<style>
a.btn:visited{color:#fff}
.form-group label {
    float: left;
    width: 100%;
}
   #search-form {float: right;margin-bottom: 15px;}
   a:hover{background-color:#fff;}
</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
